<%- include("../layouts/header.ejs") %>
<br><br>
<section class="fp__dashboard mt_120 xs_mt_90 mb_100 xs_mb_70">
    <div class="container">
        <div class="fp__dashboard_area">
            <div class="row">
                            <div class="" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <div class="fp_dashboard_body">
                                    <h3 style="justify-content: center; margin-top: 10px;">order list</h3>
                                    <%orders.forEach(order =>{%>
                                        <div class="fp__invoice_header">
                                            
                                            <div class="header_address">
                                                
                                                <h4>invoice to</h4>
                                                <p>Address : <%=order.address%></p>
                                                <p>Payment Method :<%=order.payment%> </p>
                                                <%if(order.orderStatus === 'Cancelled') {%>
                                                    <button disabled class="btn btn-danger">Cancel Order</button>
                                                <%} else {%>
                                               <a href="/cancelOrder?id=<%=order._id%>"><button onclick="return confirm('Are you sure you want to cancel the order')" class="btn btn-danger">Cancel Order</button></a>
                                                 <%}%>
                                            </div>
                                            <div class="header_address">
                                                <p><b>invoice no: </b><span>001</span></p>
                                                <p><b>Order ID:</b> <span><%=order._id%></span></p>
                                                <p><b>date:</b> <span><%=order.orderDate%></span></p>
                                            </div>
                                    <%})%>
                                        </div>
                                        <div class="fp__invoice_body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr class="border_none">
                                                            
                                                            <th class="package">item description</th>
                                                            <th class="fp__pro_img">image</th>
                                                            <th class="price">Price</th>
                                                            <th class="qnty">Quantity</th>
                                                            <th class="total">Total</th>
                                                            <th class="view_invoice">Action</th>
                                                        </tr>
                                                        <%orders.forEach(order =>{%>
                                                            <%order.items.forEach((product,index)=>{%>
                                                        <tr>
                                                            
                                                            <td class="package">
                                                                <p>Product :<%=product.cartItems[0].
                                                                    productName%></p>
                                                                <span class="size">Brand : <%=product.cartItems[0].brand%></span>
                                                                <span class="coca_cola"></span>
                                                                <span class="coca_cola2"></span>
                                                            </td>
                                                            <td style="height: 120px ; width: 150px; margin-right: 30px;" class="fp__pro_img"><img src="/product-Images/<%=product.cartItems[0].image[0]%>" alt="product"
                                                                class="img-fluid w-100">
                                                        </td>
                                                            <td class="price">
                                                                <b>rs.<%=product.cartItems[0].price%></b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b><%=product.quantity%></b>
                                                            </td>
                                                            
                                                            <td class="total"> 
                                                                
                                                                    <b><%=productTotal[index].total%></b>
                                                                     
                                                            </td>
                                                            <%orders.forEach(order =>{%>
                                                                <%if(order.items.length>1) {%>
                                                            <td><button onclick="confirmDelete('<%=product.cartItems[0]._id%>', '<%=productTotal[index]._id%>')" class="btn btn-primary">Delete</button></td>
                                                            <%}%>
                                                            <%})%>
                                                        </tr>
                                                       <%})%>
                                                       <%})%>
                                                    
                                                    </tbody>
                                                    <%orders.forEach(order =>{%>
                                                    <tfoot>
                                                        <tr>
                                                            <td class="package" colspan="3">
                                                                <b>sub total</b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                            
                                                            <td class="total">
                                                                <b>Rs.<%=order.totalPrice%></b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="package coupon" colspan="3">
                                                                <b>(-) Discount coupon</b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                            
                                                            <td class="total coupon">
                                                                <b>$0.00</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="package coast" colspan="3">
                                                                <b>(+) Shipping Cost</b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                           
                                                            <td class="total coast">
                                                                <b>Rs.00.00</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="package" colspan="3">
                                                                <b>Total Paid</b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                            <td class="qnty">
                                                                <b></b>
                                                            </td>
                                                            
                                                            <td class="total">
                                                                <b>Rs.<%=order.totalPrice%></b>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                    <%})%>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- <a class="print_btn common_btn" href="#"><i class="far fa-print"></i> print
                                            PDF</a> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
  confirmDelete = (id ,orderId)=>{
const confirmed = confirm("Are you sure , you want to delete")
      if(confirmed){
        deleteOrder(id ,orderId)
      }else{
        return false
      }
 }

    function deleteOrder(id ,orderId){
        console.log(id);
        console.log(orderId);
          fetch("/deleteInOrder" , {
            method:"post",
                headers:{
                    "Content-Type" :"application/json"
                },
                body:JSON.stringify({
                    proId:id,
                    orderId:orderId
                    
                    
                })
              })
              
              .then((res) => res.json)
              .then((res) => window.location.reload())
              .catch((error)=>console.error(error))
              
    }
</script>

<%- include("../layouts/footer.ejs") %>

<!--=========================
    DASHBOARD END 
==========================-->