<%- include("../layouts/header.ejs") %>
    <br><br>
    <section class="fp__dashboard mt_120 xs_mt_90 mb_100 xs_mb_70">
        <div class="container">
            <div class="fp__dashboard_area">
                <div class="row">
                    <div class="" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="fp_dashboard_body">
                            <h3>order list</h3>
                            <div class="fp_dashboard_order">
                                <div class="table-responsive">
                                    <table class="table" id="orderTable">
                                        <thead>
                                            <tr class="t_header">
                                                <th>Order Id</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%orders.forEach(order=> {%>
                                                <tr>
                                                    <td>
                                                        <h5>
                                                            <%=order._id%>
                                                        </h5>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <%=order.orderDate%>
                                                        </p>
                                                    </td>
                                                    <%if(order.orderStatus==='Cancelled' ) {%>
                                                        <td>
                                                            <span class="complete" style="color: red;">
                                                                <%=order.orderStatus%>
                                                            </span>
                                                        </td>
                                                        <%} else {%>
                                                            <td>
                                                                <span class="complete">
                                                                    <%=order.orderStatus%>
                                                                </span>
                                                            </td>
                                                            <%}%>

                                                                <td>
                                                                    <h5>Rs.<%=order.totalPrice%>
                                                                    </h5>
                                                                </td>
                                                                <td><a href="/orderDetails?id=<%=order._id%>">View
                                                                        Details</a></td>
                                                </tr>
                                                <%})%>


                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>

    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable();
        });
    </script>



    <!--=========================
    DASHBOARD END 
==========================-->