<%- include("../layouts/header.ejs") %>
<br><br>

<section class="fp__dashboard mt_120 xs_mt_90 mb_100 xs_mb_70">
    <div class="container">
        <div class="fp__dashboard_area">
            <div class="row">
                            <div class="" id="v-pills-profile" role="tabpanel"
                                aria-labelledby="v-pills-profile-tab">
                                <div class="fp_dashboard_body">
                                    <h3 style="align-items: center;">Wishlist</h3>
                                    <br>
                                    <%if(products.length>0){%>
                                    <div class="fp_dashboard_order">
                                        <div class="table-responsive">
                                            
                                            <table class="table">
                                                <tbody>
                                                    <tr class="t_header">
                                                        <th>Product Name</th>
                                                        <th>Image</th>
                                                        <th>Price</th>
                                                        <th>AddToCart</th>
                                                        <th>View details</th>
                                                        <th>Remove</th>
                                                    </tr>
                                                    <%products.forEach(product=>{%>
                                                    <tr>
                                                        <td>
                                                            <h5><%=product.productName%></h5>
                                                        </td>
                                                        <td>
                                                            <img style="max-width: 100px;height: auto;" src="/cropped_images/<%=product.image[0]%>" alt="menu" class="">
                                                        </td>
                                                        <td>
                                                            <h5><%=product.price%></h5>
                                                        </td>
                                                      
                                                            
                                                            
                                                        <td><button class="btn btn-primary" onclick="addToCart('<%=product._id%>')">Addtocart</button></td>

                                                        <td><button class="btn btn-primary" onclick="viewProduct('<%=product._id%>')">View Product</button></td>
                                                        
                                                        <td><button class="btn btn-danger" onclick="removeWishlist('<%=product._id%>')">Remove</button></td>
                                                    </tr>
                                                 <%})%>

                                                   
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                    <%} else {%>
                                        <h4>You have no items in wishlist</h4>
                                        <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/users/wishlist.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>





<%- include("../layouts/footer.ejs") %>
